{% comment %}
  --- 로직: 캡션 및 마진 설정 ---
{% endcomment %}
{%- if include.image_alt and include.image_alt != " " -%}
  {%- assign default_margin_bottom = '-2em' -%}
{%- else -%}
  {%- assign default_margin_bottom = '-4em' -%}
{%- endif -%}

{%- assign final_margin_bottom = include.margin_bottom | default: default_margin_bottom -%}

{% comment %}
  --- 로직: 폰트 사이즈 설정 ---
  사용자가 font_size를 입력하면 그 값을 사용하고, 
  입력하지 않으면 기본 상속(inherit)을 받거나 기본 크기로 둡니다.
{% endcomment %}
{%- assign text_font_size = include.font_size | default: 'inherit' -%}


<div class="side-by-side" style="display: flex; align-items: center; margin-bottom: {{ include.margin_bottom_container | default: '0' }};"> 
  
  <div class="image" style="flex: 0 0 {{ include.image_width | default: '50%' }};
                            margin-top: {{ include.margin_top | default: '0' }};
                            margin-bottom: {{ include.margin_bottom | default: '0' }};
                            padding-right: 20px;">
    <figure style="margin: 0;">
      <img src="{{ include.image_src | relative_url }}" alt="{{ include.image_alt | default: 'Image' }}" style="display: block; width: 100%;">
      {%- if include.image_alt and include.image_alt != " " -%}
        <figcaption>{{ include.image_alt }}</figcaption>
      {%- endif -%} 
    </figure>
  </div>

  <div class="text" markdown="1" style="flex: 1; font-size: {{ text_font_size }};">