{%- assign table_data = include.data | strip -%}
{%- assign lines = table_data | split: '
' -%}

<div class="table-wrapper" style="display: flex; justify-content: center; width: 100%; margin: 2.1em 0;">
  
  <table style="width: auto !important; margin-left: auto !important; margin-right: auto !important; display: table !important;">
    <thead>
      <tr>
        {%- assign header_row = lines[0] | split: ',' -%}
        {%- for header in header_row -%}
          <th style="text-align: center;">{{ header | strip }}</th> {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      {%- for line in lines offset: 1 -%}
        <tr>
          {%- assign cells = line | split: ',' -%}
          {%- for cell in cells -%}
            <td>{{ cell | strip }}</td>
          {%- endfor -%}
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>